
.chartContainer {
    width: 500px;
    height: 300px;
}

.overviewContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.overviewRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.overviewChartCard {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.09);
    border-radius: 5px;
    height: 318px;
}

.overviewChecklistProgressChart {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.overviewBudgetBarChart {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.overviewChartsTitles {
    color: #3C7391;
}

.overviewGuestCharts {
    width : 50%;
    display: flex;
    justify-content: space-around;
}

.overviewGuestChartWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.confirmedGuestListChartContainer {
    width: 80%;
    height: 80%;
}

.overviewSeparator {
    width: 100%;
    border-top: 1px solid #3C7391;
    margin-top: 15px;
    margin-bottom: 15px;
}

.upcomingChecklistChartContainer {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.upcomingChecklistItemList {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.upcomingChecklistItemContainer {
    width: 100%;
    background-color: #DEE8ED;
    padding: 5px 20px 5px 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.upcomingChecklistNameWrapper {
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
}

.upcomingChecklistItemIcon {
    height: 25px;
}

.myBudgetChartContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.myBudgetChartWrapper {
    height: 220px;
}