.invitationContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.invitationTitles {
    color: #3C7391;
}

.invitationSeparator {
    width: 100%;
    border-top: 1px solid #3C7391;
    margin-top: 15px;
    margin-bottom: 15px;
}

.invitationBuilderContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.invitationBuilder {
    width: 1400px;
    height: 550px;
    display: flex;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .09);
    margin-top: 45px;
}

.invitationCustomizer {
    width: 30%;
    height: 100%;
    background-color: #CDE1EA;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: start;
    padding-left: 30px;
}

.invitationThemeContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.invitationThemeCard {
    height: 150px;
    width: 27%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.invitationThemeCardText {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25%;
    align-items: center;
    font-size: 14px;
    color: #073952;
}

.invitationThemeImg {
    height: 75%;
}

.invitationThemeSelected {
    border: 3px solid white;
}


.invitationLook {
    width: 70%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.invitationCustomizerTitle{
    font-size: 18px;
    font-family: 'Alegreya', serif;
    color: #073952;
}

.invitationContent{
    height: 80%;
    background-color: white;
    width: 80%;
    border-radius: 5px;
    white-space: pre-wrap;
}

.invitationLook::-webkit-scrollbar {
    width: 6px;
}

.invitationLook::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

.invitationLook::-webkit-scrollbar-thumb {
    background-color: #3C7391 ;
    border-radius: 10px;

}

.invitationLook::-webkit-scrollbar-thumb:hover {
    background-color: #1E4E8C;
}







