.invitationContainer {
    display: flex;
    justify-content: center;
    background-color: #DAD7CD;
    height: 532px;
}

.invitationBuilder {
    width: 950px;
    height: 470px;
    display: flex;
    background-color: white;
    border-radius:20px;
    /*box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.1);*/
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 15px #ccc;
    margin-top: 17px;
}

.invitationCustomizer {
    width: 300px;
    height: 100%;
    background-color: #B5C49C;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
}

.invitationLook {
    width: 650px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowers1{
    /*background: url(../../Pictures/flowersnew.jpg) no-repeat center center/cover;*/
}

.invitationCustomizerTitle{
    font-size: 18px;
    font-family: "Cambria";
}

.invitationContent{
    height: 80%;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    white-space: pre-wrap;
}


