
.authContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAD7CD;
    overflow: hidden;
}

.welcome {
    background-color: #B5C49C;
    width: 650px;
    height: 415px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 9px #ccc;
}

.pinkbox {
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #3A5A40;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.nodisplay {
    display: none;
    transition: all 0.5s ease;
}

.leftbox,
.rightbox {
    position: absolute;
    width: 50%;
    transition: 1s all ease;
}

.leftbox {
    left: -2%;
}

.rightbox {
    right: -2%;
}

/* font & button styling */
.authH1 {
    text-align: center;
    margin-top: 95px;
    text-transform: uppercase;
    color: #DAD7CD;
    font-size: 2em;
    letter-spacing: 8px;
}

.authTitle {
    color: #588157;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 20%;
}

.authDesc {
    margin-top: -8px;
}

.account {
    margin-top: 45%;
    font-size: 10px;
}

.authP {
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #588157;
    text-align: center;
}

.authSpan {
    color: #3A5A40;
}

.flower {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 35%;
    left: 20%;
    opacity: 0.7;
}

.smaller {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 33%;
    left: 15%;
    opacity: 0.7;
}

.authButton {
    padding: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;

}

.authButton:hover {
    background: #3A5A40;
    color: #DAD7CD;
    transition: background-color 1s ease-out;
}


    .authButton2 {
        margin-top: 3%;
        background: #DAD7CD;
        color: #3A5A40;
        border: solid 1px #B5C49C;
    }


/* form styling */
.authForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
}

.more-padding {
    padding-top: 35px;
}

.more-padding input {
    padding: 12px;
}

.more-padding .submit {
    margin-top: 45px;
}

.authSubmit {
    margin-top: 25px;
    padding: 12px;
    border-color: #B5C49C;
}

.authSubmit:hover {
    background: #B5C49C;
    border-color: #B5C49C;
    color: #3A5A40;
}

.authInput {
    background: #3A5A40;
    width: 65%;
    color: #DAD7CD;
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    padding: 9px;
    margin: 7px;
}

.authInput::placeholder {
    color: #DAD7CD;
    letter-spacing: 2px;
    font-size: 1.3em;
    font-weight: 100;
}

.authInput:focus {
    color: #DAD7CD;
    outline: none;
    border-bottom: 1.2px solid rgba(255, 105, 180, 0.7);
    font-size: 1em;
    transition: 0.8s all ease;
}

.authInput:focus::placeholder {
    opacity: 0;
}

.authLabel {
    font-family: sans-serif;
    color: #DAD7CD;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.authCheckbox {
    display: inline;
    white-space: nowrap;
    position: relative;
    left: -62px;
    top: 5px;
}

.authInput[type="checkbox"] {
    width: 15px;
    background: #ff69b4;
}

.authCheckbox input[type="checkbox"]:checked+label {
    color: #ff69b4;
    transition: 0.5s all ease;
}

.authFlower1 {
    position: absolute;
    top: -100px;
    left: -80px;
}
/*.authFlower2 {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/
.authFlower3 {
    position: absolute;
    bottom: -100px;
    right: -100px;
}
/*.authFlower4 {*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: absolute;*/
/*}*/

.authImgStyle {
    height: 250px;
}