.budgetContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #344E41
}

.budgetBanner {
    display: flex;
    flex-direction: column;
    background-color: #cde1ea;
    width: 94.5%;
    height: 200px;
    padding: 40px;
    gap: 30px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 2px;
}

.BudgetEdit {
    display: flex;
    justify-content: space-between;
}

.TextFieldWrapper {
    height: 20px;
}

.budgetForm {
    display: flex;
    justify-content: start;
    gap: 250px;
    flex-direction: row;
    width: 100%;
}

.budgetContent {
    display: flex;
    flex-direction: row;
    padding: 40px;
    width: 100%;
}

.budgetCategories {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.budgetSearchContainer {
    width: 70%;
    margin-bottom: 30px;
}

.addCategoryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    background-color: white;
    padding: 20px;
    /*box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 2px 5px rgba(0,0,0,.09);
    border-radius: 5px;
    max-height: 318px;
}

.categoryIconsContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.categoryIconCardImg {
    height: 100%;
}

.categoryIconSelected {
    border: 2px solid black;
}

.categoryIconCard {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.09);
    overflow: hidden;
}

.addCategoryFormContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    height: 100%;
}

.addCategoryFieldWrapper {
    width: 100%;
}

.addCategoryButtonWrapper {
    width: 100%;
}


.budgetExpenseStyle {
    height: 30px;
    background-color: #B5C49C;
    margin-top: 10px;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.budgetExpenseContainer {
    width: 80%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.budgetExpenseName{
    width: 70%;
}