

.rsvp2Title {
    font-size: 4em;
}


.rsvp2H1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 34px;
}


.rsvp2Paral {
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsvp2Hr {
    background-color: #fff;
}

.rsvp2Paralsec {
    height: 80vh;
}

.theme1BackgroundImage {
    background-image: url(../Pictures/theme/theme1/picture1.jpg) !important;
}

.theme2BackgroundImage {
    background-image: url(../Pictures/theme/theme2/picture1.jpg) !important;
}

.theme3BackgroundImage {
    background-image: url(../Pictures/theme/theme3/picture1.jpg) !important;
}


.rsvp2Desc {
    color: #fff;
    border: 2px solid #fff;
    padding: 20px;
    width: 60%;
    height: 85%;
    text-align: center;
}

.rsvp2Desc2 {
    color: #fff;
    border: 2px solid #fff;
    padding: 20px;
    width: 85%;
    height: 85%;
    text-align: center;
}

.weddingDetailsContainer {
    margin: 20px 0 50px 0;
}

.rsvp2Title2 {
    font-family: 'Alegreya', serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.rsvp2Paralsec1 {
    height: 500px;
}

.backgroundImage3Theme1 {
    background-image: url(../Pictures/theme/theme1/picture3.jpg) !important;
}

.backgroundImage3Theme2 {
    background-image: url(../Pictures/theme/theme2/picture3.jpg) !important;
}

.backgroundImage3Theme3 {
    background-image: url(../Pictures/theme/theme3/picture3.jpg) !important;
}

.rsvp2Jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}

.rsvp2Thumb {
    width: 75%;
    height: auto;
    border: 1px solid transparent;
    outline: 1px solid #fff;
    outline-offset: -10px;
    display: block;
    margin: auto;
}

.rsvp2Info {
    margin-top: 20px;
}

.rsvp2Button {
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    transition: all .3s ease-in;
    width: 150px;
    height: 75px;
    font-size: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}

.rsvp2Button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.rsvp2Bounce-up .rsvp2Jumbotron {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rsvp2Bounce-up.in-view .rsvp2Jumbotron {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.rsvp2Details{
    margin-top: 40px;
    padding: 40px
}

.rsvp2GroomBackground{
    background-color: #e9ecef;
}


