

.confirmationActionsContainer {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: #eaf5fa;
}

.rsvpModalSeatsContainer {
    background-color: #eaf5fa;
    padding: 20px;

}

.rsvpSeatingCardsList {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.rsvpSeatingCard {
    min-height: 200px;
    width: 400px;
    border-radius: 8px;
    margin-bottom: 70px;
}

.rsvpSeatingCardHeader {
    height: 55px;
    background-color: #3C7391;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EAF5FA;
}

.rsvpSeatingCardBody {
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
    display: flex;
    width: 100%;
    padding: 10px 10px 40px 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.09);
}

.rsvpSeatingCardBodyGuestList {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.rsvpSelectButton {
    position: absolute;
    bottom: 10px;
}

.rsvpSeatingGuest {
    width: 170px;
    padding: 5px;
    height: 70px;
    background-color: #CDE1EA;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.rsvpSeatingGuestText {
    font-size: 12px;
}