.mainPageContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.mainPageNavigation {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #99ac92;
    transition: width 0.5s ease-in-out;
    border-right: 1px solid #f3f6f3;
    /*border-bottom-right-radius: 9px;*/
    /*border-top-right-radius: 9px;*/
}

.mainPageNavigationOpen {
    width: 200px;
}

.mainPageNavigationClosed {
    width: 80px;
}

.mainPageContent {
    background-color: #DAD7CD;;
    width: 100%;
    min-height: 100%;
    overflow: auto;
}

.mainPageHeader {
    background-color: #99ac92;
    height: 50px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #3a5a40;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.mainPageSvg {
    position: absolute;
    right: -1px;
    top: -5px;
}

.imgStyles {
    height: 24px;
    width: 24px;
    margin-left: 2px;
}

.navigationButton {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #DAD7CD;
    transition: width 0.5s ease-in-out;;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #f6f8f7;
    background-color: #588157;
}

.navigationButton:hover {
    background-color: #344E41;
    color: #DAD7CD;
    border: 1px solid #3a5a40;
    transition: width 0.5s ease-in-out;;
}

.navigationButtonOpen {
    border-radius: 5px;
    width: 130px;
}

.navigationButtonClosed {
    border-radius: 5px;
    width: 40px;
}

.navigationItem {

}

.navigationItemHidden {
    display: none
}




